{% extends "listsWebsite/base.html" %}
{% block content %}
 
    <div class="background-photo">
        <div id="vertical-center-container">
        <h1>AP LISTS</h1>
        </div>
        <div class="arrow-down"></div>
    </div>

    <div id="text-container">
        <div id="text-content">

            {% for post in Postings %}
                <h3>{{post.title}}</h3>
                {{post.post|safe}}
            {% endfor %}    
            
      </div><!--end of text-content-->
    </div><!--end of text-container-->
    
{% endblock %}

