/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   The Reset Style Sheet
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The start of Andrew's CSS */
html, body {
	height: 100%;
	margin: 0;
}

h1 {
    color: white;
    font-size: 70px;
    font-family: "Open Sans", Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 300;
    text-align:center;
    width:275px;
    height:70px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-35px 0 0 -132.5px;
}

#vertical-center-container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

.background-photo { 
  background: url(http://img.photobucket.com/albums/v449/anc1revv/1686157.png) no-repeat center; 
  min-height: 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.arrow-down {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 32.5px 0 32.5px;
    border-color: #ffffff transparent transparent transparent;    
    position: absolute;
    left: 50%;
    margin-left: -16px; /*make this half the width of the element I want to center*/
    bottom: 16px;
    opacity: 0.7;
}

.arrow-down:hover {
    opacity: 0.5;
}

#text-content {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-style: normal;
    padding-top: 65px;
    width:501px;
    margin-right:auto;
    margin-left:auto;
}

#text-content h3 {
    font-size: 50px;
    text-align:center;
    margin-bottom: 45px;
}

#text-content h5{
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
}

#text-content p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom:20px;
}

#text-content img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom: 27px;
}

#text-content .list-item {
    margin-bottom: 70px;
}